#input-textfield {
    position: relative;
    z-index: 1;
    border: none;
    outline: none;
}

#input-textfield::placeholder {
    font-family: 'Roboto Mono', monospace;
    font-size: smaller;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.error-message{
    color: var(--mandaca-red);
    
}
#textfield-container {
    border: 0.3rem solid black;
    border-radius: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    width: 15rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}